<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forms</title>
    </head>
    <body>
        <form method="post">
            {% csrf_tolken %}
            <h1>BEM VINDE!</h1>

            <label for="email">Digite seu email:</label>
            <input type="text" id="email" step="any" />
            <br />
            <br />
            <label for="senha">Digite sua senha:</label>
            <input type="text" id="senha" />
            <br />
            <br />

            <button type="submit" value="Submit">Entrar</button>
            <br />
            <br />
            <button type="reset" value="Reset">Cancelar</button>
        </form>
    </body>
</html>
